[submodule "roles/workstation_packages"]
	path = roles/workstation_packages
	url = https://github.com/DO1JLR/role_install_workstaton_packages.git
[submodule "roles/i3wm"]
	path = roles/i3wm
	url = https://github.com/DO1JLR/ansible-role-i3wm.git
[submodule "roles/dotfiles"]
	path = roles/dotfiles
	url = https://github.com/DO1JLR/role_dotfiles.git
[submodule "roles/firefox"]
	path = roles/firefox
	url = https://github.com/maxbachmann-ansible/role-firefox.git
[submodule "roles/pulseaudio"]
	path = roles/pulseaudio
	url = https://github.com/DO1JLR/role_pulseaudio_archlinux.git
[submodule "roles/authorized_keys"]
	path = roles/authorized_keys
	url = https://github.com/ffbsee/role-ssh_authorized_keys.git
[submodule "files/admin_ssh_keys"]
	path = files/admin_ssh_keys
	url = https://gitea.see-base.de/toolbox/ssh-public-keys.git
[submodule "roles/sshd"]
	path = roles/sshd
	url = https://github.com/DO1JLR/role_sshd.git
[submodule "roles/nextcloud"]
	path = roles/nextcloud
	url = https://github.com/DO1JLR/role_nextcloud_client.git
[submodule "roles/ntp"]
	path = roles/ntp
	url = https://github.com/DO1JLR/role-ntp.git
[submodule "roles/arch-fonts"]
	path = roles/arch-fonts
	url = https://github.com/DO1JLR/role-arch-fonts.git
[submodule "roles/akku-warning"]
	path = roles/akku-warning
	url = https://github.com/DO1JLR/role_akku_warning.git
