[submodule "roles/workstation_packages"]
	path = roles/workstation_packages
	url = https://github.com/DO1JLR/role_install_workstaton_packages.git
[submodule "roles/i3wm"]
	path = roles/i3wm
	url = https://github.com/DO1JLR/ansible-role-i3wm.git
[submodule "roles/dotfiles"]
	path = roles/dotfiles
	url = https://github.com/DO1JLR/role_dotfiles.git
[submodule "roles/firefox"]
	path = roles/firefox
	url = https://github.com/maxbachmann/role-firefox.git
[submodule "roles/pulseaudio"]
	path = roles/pulseaudio
	url = https://github.com/DO1JLR/role_pulseaudio_archlinux.git
